.my_posts{
    padding: 10px;
}
.previous_posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    margin-top: 20px;
}
.new_post textarea{
    display: block;
}
.new_post button{
    display: block;
}
