.nav {
    grid-column: 2/3;
    grid-row: 2/3;
    background: chocolate;
    padding: 20px;
}
.nav ul {
    list-style-type: none;
}

.item a {
    color: white;
    text-decoration: none;
}
.item a.active {
    color: blue;
}