* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr minmax(20%, 300px) minmax(50%, 900px) 1fr;
  grid-template-rows: 150px auto;
}
.app-wrapper-content {
  grid-column: 3/4;
  grid-row: 2/3;
  background: cadetblue;
}
